.App {
  max-width: 1280px;
  margin: 0px;
  padding: 0rem;
  text-align: center;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  align-items: center;
  color: #330909;
  background-color: rgba(186, 39, 39, 0.33);
}

.logo {
  padding: 1.25em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo.ts:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.logo.scss:hover {
  filter: drop-shadow(0 0 2em #cc6698aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.input {
  flex-direction: row;
  padding: 0.5em 0.8em 0.6em;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  color: #2d1bce;
  border: 1px solid #a7a0a0;
  border-radius: 6px;
  &:hover {
    border: 1px solid #a1a0a7;
  }
  &:focus {
    border: 1px solid #2a2ac4;
  }
}
.name {
  margin: 0px;
  padding: 2px 8px 8px 0px;
  font-weight: 500;
  color: #2f1212;
  text-align: start;
}
.form {
  margin: 0px 40px 40px;
  flex-direction: row;
  padding: 25px;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  display: flex;
  width: 25rem;
  background-color: #ffffff;
  box-shadow: 1.35px 5.85px 33px -17px #373030;
  border-radius: 16px;
  border: 1.5px solid #a4d0df;
}
.button {
  border: 0px solid #000000;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  align-content: space-between;
  justify-content: space-evenly;
  align-self: end;
  width: 100%;
  margin: 1px;
  background-color: #424fdf;
  color: #ffffff;
  font-weight: 600;
  &:hover {
  }
  border-radius: 6px;
}
.input_div {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 8px 10px;
  flex-wrap: wrap;
  align-items: start;
}
.buttonPadding {
  padding: 27px 10px 8px;
  width: 100%;
}
.Headline {
}
.contact_Us_Padding {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0px 25px;
  margin: 0px;
  align-items: center;
  justify-items: center;
  width: 25rem;
}
.Paragraph_Form {
  width: 25rem;
  margin: 4px 4px 20px;
}
.H1_Form {
  padding: 0px;
  margin: 40px 4px 4px;
}
.Grey_Paragraph {
  color: #9a9696;
}
